<footer>
  <div class="footer-container">
    <div class="footer-left">
      <div class="legalbox">
        <ul>
          <li><a href="#">Legal</a></li>
          <li><a href="#">Cookies</a></li>
        </ul>
      </div>
      <div class="ads-info">
        <a href="#">Información sobre anuncios</a>
      </div>
    </div>
    <div class="footer-right">
      <div class="country">
        <img src="Img/es.svg" alt="Bandera de España" width="20" height="14">
        <p>España</p>
      </div>
      <p>© 2024 Spotify AB</p>
    </div>
  </div>
</footer>